<h3><i class="fab fa-red-river" style="margin-right: 0.5em; color: #444444"></i>Share</h3>
<div class="section">
    <p class="lead">Share your life experiences with the world</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-3">
        <i class="fab fa-google left" style="color:#F4B400"></i>
        Log In with Google
    </a>
</div>